.posts {
    margin-left: 40px;
}

.postsMain {
    font-size: 24px;
    font-weight: bold;
    color: #365F0E;
    margin-top: 30px;
}

.addPost {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #DDFFB3;
}

textarea {
    border: none;
    width: 85%;
}

.btn {
    min-width: 10%;
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: darkred;
    background-color: orange;
}

.postItem {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.postItem img {
    width: 45px;
    height: 45px;
}

.postText {
    width: 100%;
    max-width: 837px;
    line-height: 1.7;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    width: 6%;
    padding-bottom: 6%;
    height: 0;
    position: relative;
    justify-self: flex-end;
    margin-right: 42px;
}

.avatar img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}