.cart {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cart__summary {
    max-height: 300px;
    background-color: #DDFFB3;
}

.cart__items {
    display: flex;
    flex-direction: column;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.emptyCart img {
    margin-top: 50px;
    width: 30%;
}