.cart {
    width: 100%;
    max-width: 950px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cart__summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 200px;
    background-color: #DDFFB3;
    border-radius: 10px;
    padding-bottom: 25px;
}

.cart__items {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-bottom: 50px;
    margin-left: 40px;
}

.summary__title {
    font-size: 18px;
    padding-left: 30px;
}

.summary__price {
    padding-left: 30px;
    margin-bottom: 15px;
}

.totalPrice {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.totalPrice img {
    margin-left: 5px;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.emptyCart img {
    width: 50%;
    margin-top: 80px;
}

.btnDisplayNone {
    display: none;
}

.summary__btn {
    cursor: pointer;
    width: 100%;
    max-width: 170px;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    align-self: center;
    padding: 13px 30px;
    background: linear-gradient(111deg, #FF7346, #FEC111);
}

.summary__btn:hover {
    background: #fca373;
}

@media (max-width: 768px) {
    .cart {
        width: 100%;
        max-width: 950px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart__summary {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        max-height: 200px;
        background-color: #DDFFB3;
        padding-bottom: 25px;
    }

}