.catalog {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 900px;
    margin-left: 40px;
    margin-bottom: 50px;
    min-height: 50vh;
}

.catalog__description {
    width: 100%;
    max-width: 840px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 25px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px;
}

.catalog__btn {
    cursor: pointer;
    width: 100%;
    max-width: 170px;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    align-self: center;
    padding: 13px 30px;
    background: linear-gradient(111deg, #FF7346, #FEC111);
    margin-bottom: 100px;
}

.catalog__pages{
    display: flex;
    cursor: pointer;
    align-self: center;
    margin-bottom: 100px;
}

.page, .currentPage {
    cursor: pointer;
    width: 100%;
    margin-right: 13px;
    padding: 10px;
    border-radius: 10%;
    color: white;
    font-weight: bold;
    background: #fca373;
}

.currentPage {
    background: #fc5b22;
}

.page:hover {
    background: #fc5b22;
}

.fetching {
    position: relative;
    top: 20vh;
    left: 26vw;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px dashed darkslategrey;
    z-index: 1;
    animation-name: seacrh-fetching;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}

@keyframes seacrh-fetching {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg) scale(1.5);
    }
}