.latestArticles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 35px;
}

.title {
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
}

.description {
    margin-top: 10px;
}

.latest {
    display: flex;
}