.link {
    text-decoration: none;
}

.articleItem {
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {

}

.statistics {
    display: flex;

}

.flex {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.eye {
    width: 25px;
    margin-right: 5px;
}

.like {
    width: 25px;
    margin-right: 5px;
}

.dislike {
    width: 25px;
    margin-right: 5px;
}