ul {
  list-style-type: none;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #efffd8;
  z-index: 10;
}

.headerNav {
  display: flex;
  justify-content: space-around;
}

.item {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.cart img:hover {
  opacity: .4;
}

.count {
  width: 100%;
  /*height: 100%;*/
  max-width: 25px;
  text-align: center;
  background-color: #9FC059;
  position: absolute;
  padding-bottom: 10%;
  border-radius: 50%;
  color: white;
  top: 0;
  left: 20px;
  }

.logo {
  width: 150px;
  height: 30px;
}

.avatar {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  width: 14%;
  border-radius: 50%;
  padding-bottom: 14%;
  height: 0;
  position: relative;
  /*margin-left: 40px;*/
}

.avatar img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
}

.displayNone {
  display: none;
}


