.balanceTotal {
  display: flex;
  align-items: center;
}

.balanceLabel {
  font-size: 24px;
  font-weight: bold;
  color: #365F0E;
  margin-bottom: 10px;
}

.balanceTotal img {
  margin-left: 10px;
}




