.posts {
    margin-left: 40px;
}

.postsMain {
    font-size: 24px;
    font-weight: bold;
    color: #365F0E;
    margin-top: 30px;
}

.addPost {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 900px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #DDFFB3;
}

textarea {
    border: none;
    width: 85%;
}

.btn {
    min-width: 10%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: darkred;
    background-color: orange;
}
