.posts {
    margin-left: 40px;
    margin-bottom: 50px;
}

.postsMain {
    font-size: 24px;
    font-weight: bold;
    color: #365F0E;
    margin-top: 30px;
}

.addPost {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #DDFFB3;
}

.emptyPosts {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9a8e8e;
}

textarea {
    border: none;
    width: 85%;
}

.btn {
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
    background: linear-gradient(111deg, #FF7346, #FEC111);
}

.btn:hover {
    background: #fca373;
}
