.posts {
    margin-left: 40px;
}

textarea {
    width: 90%;
}

.postItem {

}

.postItem img {
    width: 45px;
    height: 45px;
}

.postText {

}

.avatar {
    display: inline-block;
    overflow: hidden;
    width: 6%;
    padding-bottom: 6%;
    height: 0;
    position: relative;
    justify-self: flex-end;
    margin-right: 42px;
}

.avatar img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}