p {
    margin: 0;
}

.cartItem {
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    margin-bottom: 25px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.cartItem__image {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding-bottom: 35vh;
    height: 0;
    position: relative;
    margin-bottom: 10px;
}

.cartItem__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms linear;
}

.cartItem__image img:hover {
    transform: scale(150%);
}

.cartItem__details {
    margin-bottom: 30px;
}

.cartItem__title {
    font-weight: bold;
    margin-bottom: 15px;
}

.cartItem__cost {
    display: flex;
    align-items: center;
}

.cartItem__cost img {
    margin-left: 5px;
}

.cartItem__actions {

}

.cartItem__qty {
    margin-bottom: 10px;
}

input {
    /*display: block;*/
    width: 25%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: #DDFFB3;
}



.actions__deleteItemBtn {
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    border: 0;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    background: linear-gradient(111deg, #fc226e, #fe1119);
}

.actions__deleteItemBtn:hover {
    background: #fca373;
}

@media (max-width: 768px) {
    .cartItem {
        width: 100%;
        max-width: 300px;
        box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 30px;
        display: flex;
        margin-bottom: 25px;
        flex-direction: column;
    }
}

