.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-gap: 20px;
    margin-left: 35px;
    grid-template-areas:
    "avatars messages"
    "avatars send";
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    grid-area: avatars;
}

.messages {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 15px;
    max-width: 790px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #DDFFB3;
    grid-area: messages;
}

.addMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDFFB3;
    grid-area: send;
}

.sendForm {
    width: 100%;
    max-width: 790px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
    background-color: #DDFFB3;
    grid-area: send;
    border-radius: 10px;
}

textarea {
    width: 80%;
}

.btn {
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
    background: linear-gradient(111deg, #FF7346, #FEC111);
}

.btn:hover {
    background: rgb(255, 99, 71, 0.6);
}